
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <title>者也</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/errors.css" />
  </head>
  <body>
    <div class="page">
      <div class="error">
        <h1 class="header">
          <a href="/" class="logo">
            <img src="/static/images/logo_black_trans.png"  alt="者也">
          </a>
          - 404
        </h1>
        <div class="content">
         <p>
           <strong>你似乎来到了没有知识存在的荒原...</strong>
         </p>
         <p>来源链接是否正确？用户、话题或问题是否存在？</p>
         <hr>
         <p>
           <a href="/">返回首页</a>
         </p>
       </div>
      </div>
    </div>
  </body>
</html>