<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-152.87c020b9.png"
          sizes="152x152">
    <link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-120.496c913b.png"
          sizes="120x120">
    <link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-76.dcf79352.png"
          sizes="76x76">
    <link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-60.9911cffb.png"
          sizes="60x60">
    <link rel="shortcut icon" href="https://static.zhihu.com/static/favicon.ico" type="image/x-icon">

    <link rel="search" type="application/opensearchdescription+xml" href="https://static.zhihu.com/static/search.xml"
          title="知乎"/>
    <!--&lt;!&ndash;<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">&ndash;&gt;</script>-->
    {% block head %}
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style/zheye.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/mycss.css')}}">


    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}


    <script>
        function mOver(obj) {
            $(".top-nav-profile ul").addClass("top-nav-dropdowntop-nav-dropdown-other");
        }
        function mOut(obj) {
            $(".top-nav-profile ul").removeClass("top-nav-dropdowntop-nav-dropdown-other");
        }
    </script>

</head>

<body class="zhi ">

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提问
                </h4>
            </div>

            <div class="modal-dialog-content">
                <div class="zh-add-question-form">
                    <form class="js-add-question-form">
                        <div class="zg-section-big clearfix">
                            <div class="zg-form-text-input add-question-title-form" style="position: relative;">
                                <textarea rows="1" class="zg-editor-input zu-seamless-input-origin-element"
                                          title="在这里输入问题" id="zh-question-suggest-title-content" aria-label="写下你的问题"
                                          placeholder="写下你的问题" role="combobox" aria-autocomplete="list"
                                          autocomplete="off" style="height: 22px;"></textarea>
                            </div>
                        </div>

                        <div class="zg-section-big clearfix">
                            <div class="add-question-section-title">
                                问题说明（可选）：
                                <span id="zh-question-form-detail-err"></span>
                            </div>
                            <div class="zg-form-text-input add-question-title-form" style="position: relative;">
                                <textarea rows="1" class="zg-editor-input zu-seamless-input-origin-element"
                                          title="问题说明" id="test" aria-label="问题说明"
                                          placeholder="问题说明" role="combobox" aria-autocomplete="list"
                                          autocomplete="off" style="height: 70px;"></textarea>
                            </div>
                        </div>
                        <div class="zm-add-question-form-topic-wrap">
                            <div class="add-question-section-title">
                                <span class="zg-gray zg-right hidden-phone">话题越精准，越容易让相关领域专业人士看到你的问题</span>
                                选择话题：
                                <span id="zh-question-form-tag-err"></span>
                            </div>
                            <div id="zh-question-suggest-topic-container" class="zm-tag-editor zg-section">
                                <div class="zm-tag-editor-labels" style="display: none;"></div>
                                <div class="zm-tag-editor-editor zg-clear">
                                    <div class="zg-inline"></div>
                                    <div class="zm-tag-editor-command-buttons-wrap zg-left"><label for="topic"
                                                                                                   class="zg-icon icon-magnify"></label><input
                                            class="zu-question-suggest-topic-input label-input-label" type="text"
                                            role="combobox" aria-autocomplete="list" aria-label="搜索话题"
                                            placeholder="搜索话题"><a class="zg-mr15 zg-btn-blue" href="#" name="add"
                                                                  style="display: none;">添加</a><a href="#" name="close"
                                                                                                  style="display: none;">完成</a><label
                                            class="err-tip" style="display:none;">最多添加五个话题</label></div>
                                    <div class="zm-tag-editor-maxcount zg-section" style="display: none;"><span>最多只能为一个问题绑定 5 个话题</span><a
                                            href="#" name="close" style="display: none;">完成</a></div>
                                </div>
                                <div id="zh-question-suggest-autocomplete-container"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary">
                                发布
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div role="navigation" class="zu-top" data-za-module="TopNavBar">
    <div class="zg-wrap modal-shifting clearfix" id="zh-top-inner">
        <a href="/" class="zu-top-link-logo" id="zh-top-link-logo" data-za-c="view_home" data-za-a="visit_home"
           data-za-l="top_navigation_zhihu_logo">知乎</a>
        {% if current_user.is_authenticated %}
        <div onmouseover="mOver(this)" onmouseout="mOut(this)" class="top-nav-profile">
            <a href="{{ url_for('main.people', username = current_user.username) }}" class="zu-top-nav-userinfo ">
                <span class="name">{{current_user.username}}</span>
                <img class="Avatar"
                     {% if current_user.avatar %}
                     src="data:;base64,{{ base64.b64encode(current_user.avatar)}}">
                {% else %}
                src="{{url_for('static', filename='images/default.jpg')}}">
                {% endif %}
            </a>
            <ul id="top-nav-profile-dropdown" class="top-nav-dropdown" aria-labelledby=":0" aria-hidden="true">
                <li>
                    <a href="{{ url_for('main.people', username = current_user.username) }}">
                        <i class="zg-icon zg-icon-dd-home"></i>我的主页
                    </a>
                </li>
                <li>
                    <a href="/inbox">
                        <i class="zg-icon zg-icon-dd-pm"></i>私信
                        <span id="zh-top-nav-pm-count" class="zu-top-nav-pm-count zg-noti-number"
                              style="visibility:hidden" data-count="0">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('auth.settings')}}">
                        <i class="zg-icon zg-icon-dd-settings"></i>设置
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">
                        <i class="zg-icon zg-icon-dd-logout"></i>退出
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="top-nav-profile-login">
            <button class="Button " type="button"><a href="{{url_for('auth.login_register')}}">登录</a></button>
        </div>
        {% endif %}
        <button class="zu-top-add-question" id="zu-top-add-question" data-toggle="modal" data-target="#myModal">提问
        </button>
        <div role="search" id="zh-top-search" class="zu-top-search">
            <form method="GET" action="#" id="zh-top-search-form" class="zu-top-search-form">
                <input type="hidden" name="type" value="content">
                <label for="q" class="hide-text">知乎搜索</label><input type="text" class="zu-top-search-input" id="q"
                                                                    name="q" autocomplete="off" value="" maxlength="100"
                                                                    placeholder="搜索你感兴趣的内容...">
                <button type="submit" class="zu-top-search-button"><span class="hide-text">搜索</span><span
                        class="sprite-global-icon-magnifier-dark"></span></button>
            </form>
        </div>

        <div id="zg-top-nav" class="zu-top-nav">
            <ul class="zu-top-nav-ul zg-clear">

                <li class="zu-top-nav-li current" id="zh-top-nav-home">
                    <a class="zu-top-nav-link" href="/" id="zh-top-link-home" data-za-c="view_home"
                       data-za-a="visit_home" data-za-l="top_navigation_home">首页</a>
                </li>


                <li class="top-nav-topic-selector zu-top-nav-li " id="zh-top-nav-topic">
                    <a class="zu-top-nav-link" href="/topic" id="top-nav-dd-topic">话题</a>
                </li>

                <li class="zu-top-nav-li " id="zh-top-nav-explore">
                    <a class="zu-top-nav-link" href="/explore">发现</a>
                </li>

                <li class="top-nav-noti zu-top-nav-li ">
                    <a class="zu-top-nav-link" href="javascript:;" id="zh-top-nav-count-wrap" role="button"><span
                            class="mobi-arrow"></span>消息</a>
                </li>


            </ul>
            <div class="zu-top-nav-live zu-noti7-popup zg-r5px no-hovercard" id="zh-top-nav-live-new" role="popup"
                 tabindex="0">
                <div class="zu-top-nav-live-inner zg-r5px">
                    <div class="zu-top-live-icon">&nbsp;</div>
                    <div class="zu-home-noti-inner" id="zh-top-nav-live-new-inner">
                        <div class="zm-noti7-popup-tab-container clearfix" tabindex="0">
                            <button class="zm-noti7-popup-tab-item message">
                                <span class="icon">消息</span>
                            </button>
                            <button class="zm-noti7-popup-tab-item user">
                                <span class="icon">用户</span>
                            </button>
                            <button class="zm-noti7-popup-tab-item thanks">
                                <span class="icon">赞同和感谢</span>
                            </button>
                        </div>
                    </div>
                    <div class="zm-noti7-frame-border top"></div>
                    <div class="zm-noti7-frame">
                        <div class="zm-noti7-content message">
                            <div class="zm-noti7-content-inner">
                                <div class="zm-noti7-content-body">
                                    <div class="zm-noti7-popup-loading">
                                        <span class="noti-spinner-loading"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-noti7-content user" style="display:none;">
                            <div class="zm-noti7-content-inner">
                                <div class="zm-noti7-content-body">
                                    <div class="zm-noti7-popup-loading">
                                        <span class="noti-spinner-loading"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-noti7-content thanks" style="display:none;">
                            <div class="zm-noti7-content-inner">
                                <div class="zm-noti7-content-body">
                                    <div class="zm-noti7-popup-loading">
                                        <span class="noti-spinner-loading"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zm-noti7-frame-border bottom"></div>
                    <div class="zm-noti7-popup-footer">
                        <a href="/notifications" class="zm-noti7-popup-footer-all zg-right">查看全部 &raquo;</a>
                        <a href="/settings/notification" class="zm-noti7-popup-footer-set" title="通知设置"><i
                                class="zg-icon zg-icon-settings"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="zu-global-notify" id="zh-global-message" style="display:none">
    <div class="zg-wrap">
        <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
        </div>
    </div>
</div>


<div class="zg-wrap zu-main clearfix " role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <script>
                        alert("{{ message }}")
                    </script>
                </div>
                {% endfor %}

            </div>
            {% block body %}
            {% endblock %}

            {% block page_content %}{% endblock %}


        </div>
    </div>
</div>


<meta name="entry" content="ZH.entryHome" data-module-id="page-main">

<script type="text/zscript" znonce="2e3d10f5274a4819bb52a8aba5fae581"></script>

<input type="hidden" name="_xsrf" value="f87ea55998be7cc55c234b1b630fc708"/>
</body>
</html>