{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
{% endblock %}
{% block body %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="zu-main-content">
    <div class="zu-main-content-inner">
        <ul class="nav nav-tabs">
            <li>
                <a href="{{url_for('auth.profile')}}" data-toggle="tab">
                    账户
                </a>
            </li>
            <li class="active">
                <a href="{{url_for('auth.password')}}" data-toggle="tab">密码</a></li>
        </ul>
        <div class="tab-pane fade in active">
            {{ wtf.quick_form(form) }}
        </div>

    </div>
</div>
{% endblock %}