{% extends "base.html" %}
{% block title %} 首页-者也 {% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style/main.app.css')}}">
<script data-main="{{url_for('static', filename='js/main')}}"
        src="{{url_for('static', filename='js/require.js')}}"></script>
<script>
    //    评论的隐藏与显示
    function show_comments_answer(id, answer_id, user_id){
        var content =  '<button class="ContentItem-action Button--plain" type="button" id="' + id + '" onclick="hide_comments_answer(\'' + id +'\'' + ',' +'\''+answer_id+ '\'' + ',' +'\''+user_id+ '\')">' +
                '<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"' +
                'class="Icon Icon--comment Icon--left" width="12" height="16"' +
                'aria-hidden="true" style="height: 16px; width: 12px;"> <title></title> ' +
                '<g> <path d="M7.24 16.313c-.272-.047-.553.026-.77.2-1.106.813-2.406 1.324-3.77 1.482-.16.017-.313-.06-.394-.197-.082-.136-.077-.308.012-.44.528-.656.906-1.42 1.11-2.237.04-.222-.046-.45-.226-.588C1.212 13.052.027 10.73 0 8.25 0 3.7 4.03 0 9 0s9 3.7 9 8.25-4.373 9.108-10.76 8.063z"></path> ' +
                '</g> </svg>收起评论 </button>';

            var control_id = "#" + id;
            $(control_id).replaceWith(content);
            var control_answer_id = "#Comments-container_" + answer_id + "_" + user_id;
            $(control_answer_id).show(1000);

    };

    function hide_comments_answer(id, answer_id, user_id) {
        var content =  '<button class="ContentItem-action Button--plain" type="button" id="' + id + '" onclick="show_comments_answer(\'' + id +'\'' + ',' +'\''+answer_id+ '\'' + ',' +'\''+user_id+ '\')">' +
                '<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"' +
                'class="Icon Icon--comment Icon--left" width="12" height="16"' +
                'aria-hidden="true" style="height: 16px; width: 12px;"> <title></title> ' +
                '<g> <path d="M7.24 16.313c-.272-.047-.553.026-.77.2-1.106.813-2.406 1.324-3.77 1.482-.16.017-.313-.06-.394-.197-.082-.136-.077-.308.012-.44.528-.656.906-1.42 1.11-2.237.04-.222-.046-.45-.226-.588C1.212 13.052.027 10.73 0 8.25 0 3.7 4.03 0 9 0s9 3.7 9 8.25-4.373 9.108-10.76 8.063z"></path> ' +
                '</g> </svg>添加评论 </button>';

             var control_id = "#" + id;
            $(control_id).replaceWith(content);
            var control_answer_id = "#Comments-container_" + answer_id + "_" + user_id;
            $(control_answer_id).hide();
    };

//    提交评论
    function submit_comment_answer(answer_id, user_id) {
        var form_name = "comment_form_" + answer_id + "_" + user_id;
        var comment_name = "comment_answer_" + answer_id + "_" + user_id;
        var form = document.forms[form_name];
            var comment = form[comment_name].value;
            if(comment ==null || comment == ""){
                alert("评论不能为空");
                return;
            }
            $.ajax({
                url: "/submit_comment",
                async: true,
                type: "POST",
                data:{"answer_id": answer_id, "comment_body":comment},
                success : function (data, status){
                    if(data.error != ""){
                        alert(data.error);
                        return
                    }
                    var content = '<div class="CommentItem"> ' +
                        '<div> ' +
                        '<div class="CommentItem-meta"><span ' +
                        'class="UserLink CommentItem-avatar">' +
                        '<div class="Popover">' +
                        '</div></span><span class="UserLink">' +
                        '<a class="UserLink-link" href="/people/' + data.username +'">'+ data.username +'</a></span>' +
                        '<span class="CommentItem-time">刚刚</span></div>' +
                        '<div class="RichText CommentItem-content" style="white-space: initial;">'
                        + data.comment +'</div>' +
                        '<div class="CommentItem-footer ">' +
                        '</div><!-- react-empty: 2795 --></div></div>';

                    var comeents_list_all = "#comeents_list_all_" + answer_id + "_" + user_id;
                    $(comeents_list_all).append(content);
//                    提交成功，清空提交框

                    var comment_answer = "#comment_answer_" + answer_id + "_" + user_id;
                    $(comment_answer).val("");
                }
            })

    }
    </script>
{% endblock %}
{% block navi_color %}
<li class="zu-top-nav-li current" id="zh-top-nav-home">
    <a class="zu-top-nav-link" href="/" id="zh-top-link-home" data-za-c="view_home"
       data-za-a="visit_home" data-za-l="top_navigation_home">首页</a>
</li>


<li class="top-nav-topic-selector zu-top-nav-li " id="zh-top-nav-topic">
    <a class="zu-top-nav-link" href="{{url_for('main.topic')}}" id="top-nav-dd-topic">话题</a>
</li>

<li class="zu-top-nav-li " id="zh-top-nav-explore">
    <a class="zu-top-nav-link" href="/#">发现</a>
</li>

<li class="top-nav-noti zu-top-nav-li ">
    <a class="zu-top-nav-link" href="javascript:;" id="zh-top-nav-count-wrap" role="button"><span
            class="mobi-arrow"></span>消息</a>
</li>
{% endblock %}

{% block body %}
<div class="HomeEntry">
    <div class="HomeEntry-avatar">
        <img class="Avatar Avatar--xs"
             {% if current_user.avatar %}
             src="data:;base64,{{ base64.b64encode(current_user.avatar)}}" alt="{{current_user.username}}">
        {% else %}
        src="{{url_for('static', filename='images/default.jpg')}}" alt="{{current_user.username}}">
        {% endif %}
    </div>
    <div class="HomeEntry-box">
        <span class="HomeEntry-boxArrow"></span>
        <ul class="HomeEntry-list">
            <li class="HomeEntry-item" data-toggle="modal" data-target="#myModal">
                <a href="#" class="HomeEntry-ask js-HomeEntry-ask">
                    <i class="sprite-home-question-off"></i>
                    提问
                </a>
            </li>
            <li class="HomeEntry-item">
                <a href="{{url_for('main.answer_question')}}" target="_blank"
                   class="HomeEntry-answer js-HomeEntry-answer">
                    <i class="sprite-home-answer-off"></i>
                    回答
                </a>
            </li>
            <li class="HomeEntry-item">
                <a href="#" class="HomeEntry-post js-HomeEntry-post">
                    <i class="sprite-home-post-off"></i>
                    写文章
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="zg-section" id="zh-home-list-title">
    <i class="zg-icon zg-icon-feedlist"></i>
    最新动态 <input type="hidden" id="is-topstory">
    <span class="zg-right zm-noti-cleaner-setting" style="list-style:none"><a href="#"
                                                                              class="zg-link-gray-normal"><i
            class="zg-icon zg-icon-settings"></i>设置</a></span>
</div>

<div class="zu-main-feed-con navigable">
    <div class="zh-general-list topstory clearfix">
        {% for activity in index_show %}
        {% if activity[-1] == "current_user_follow" %}
        <div class="feed-item folding feed-item-hook">
            <div class="feed-item-inner">
                <div class="avatar">
                    <a href="{{url_for('main.topic_detail', id=activity[2].id)}}" target="_blank">
                        <img
                                {% if activity[2].topic_avatar %}
                                                                    src="data:;base64,{{ base64.b64encode(activity[2].topic_avatar)}}"
                                                                    {% else %}
                                                                    src="{{url_for('static', filename='images/default.jpg')}}"
                                                                    {% endif %}
                                alt="" class="side-topic-avatar">
                    </a >
                </div>
                <div class="feed-main">
                    <div class="feed-source">
                        来自话题: <a href="{{url_for('main.topic_detail', id=activity[2].id)}}" target="_blank">{{activity[2].topic_name}}</a>

                    </div>
                    <div class="feed-content" data-za-module="AnswerItem">
                        <h5 class="feed-title"><a class="question_link"
                                                  href="{{url_for('main.question_detail', id=activity[0].id)}}"
                                                  target="_blank">
                            {{activity[0].question_name}}？
                        </a></h5>
                        {% if activity[1] %}
                        <div class="expandable entry-body">
                            <div class="zm-item-answer-author-info">

                            <span class="summary-wrapper">
                            <span class="author-link-line">
                                <a class="author-link" data-hovercard="p$t$tang-ge-71-52" target="_blank"
                                   href="{{url_for('main.people', username=activity[1].users.username)}}">{{activity[1].users.username}}</a>
                            </span>
                            <span class="bio">{{activity[1].short_intr}}</span>
                            </span>
                            </div>

                            <div class="zm-item-rich-text expandable js-collapse-body">

                                <div class="zh-summary summary clearfix">
                                    <ul class="wrap">
                                        <li>
                                            <div class="content all-content" style="display: none;">
                                                {{activity[1].answer_body}}

                                            </div>
                                            <div class="content part-content">
                                                {{activity[1].answer_body[:50]}}<b>...</b></div>
                                            <div class="sign unfold">显示全部</div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="feed-meta">
                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                <div class="zm-meta-panel">

                                    {% if not current_user.is_following_question(activity[0]) %}
                                    <a id="follow_quesrion_{{activity[0].id}}" href="#"
                                       onclick="follow_question('{{activity[0].id}}', id)"
                                       class="follow-link zg-follow meta-item"><i class="z-icon-follow"></i>关注问题</a>
                                    {% else %}
                                    <a id="follow_quesrion_{{activity[0].id}}" href="#"
                                       onclick="unfollow_question('{{activity[0].id}}', id)"
                                       class="follow-link zg-unfollow meta-item"><i
                                            class="z-icon-follow"></i>取消关注</a>
                                    {% endif %}

                                    {% if activity[1] %}
                                    <button class="ContentItem-action Button--plain" type="button"
                                            id="comments-button-show_{{activity[1].id}}"
                                            onclick="show_comments(id, '{{activity[1].id}}')">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"
                                             class="Icon Icon--comment Icon--left" width="12" height="16"
                                             aria-hidden="true" style="height: 16px; width: 12px;">
                                            <title></title>
                                            <g>
                                                <path d="M7.24 16.313c-.272-.047-.553.026-.77.2-1.106.813-2.406 1.324-3.77 1.482-.16.017-.313-.06-.394-.197-.082-.136-.077-.308.012-.44.528-.656.906-1.42 1.11-2.237.04-.222-.046-.45-.226-.588C1.212 13.052.027 10.73 0 8.25 0 3.7 4.03 0 9 0s9 3.7 9 8.25-4.373 9.108-10.76 8.063z"></path>
                                            </g>
                                        </svg>
                                        {% if activity[1].comments.count() == 0 %}
                                        <!-- react-text: 703 --> 添加评论<!-- /react-text -->
                                        {% else %}
                                        <!-- react-text: 703 --> {{activity[1].comments.count()}}条评论
                                        <!-- /react-text -->
                                        {% endif %}
                                    </button>
                                    {% endif %}
                                </div>

                                {% if activity[1] %}
                                <div class="Comments-container" style="display: None;"
                                     id="Comments-container_{{activity[1].id}}"><!-- react-empty: 2651 -->
                                    <div class="Comments Comments--withEditor Comments-withPagination">
                                        <div class="CommentTopbar">
                                            <div class="CommentTopbar-meta"><h2 class="CommentTopbar-title"
                                                                                id="CommentTopbar-title">
                                                <!-- react-text: 2656 -->{{activity[1].comments.count()}}
                                                <!-- /react-text -->
                                                <!-- react-text: 2657 --> 条评论<!-- /react-text --></h2>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comeents_list_all_{{activity[1].id}}">
                                            {% for comment in activity[1].comments.filter_by().all() %}
                                            <div class="CommentItem">
                                                <div>
                                                    <div class="CommentItem-meta"><span
                                                            class="UserLink CommentItem-avatar"><div
                                                            class="Popover">
                                                            <div id="Popover-33049-66261-toggle">
                                                            <a
                                                                    class="UserLink-link"
                                                                    href="{{url_for('main.people', username=comment.comment_user.username)}}"><img
                                                                    class="Avatar UserLink-avatar"
                                                                    style="width: 25px;height: 25px;"
                                                                    {% if comment.comment_user.avatar %}
                                                                    src="data:;base64,{{ base64.b64encode(comment.comment_user.avatar)}}"
                                                                    {% else %}
                                                                    src="{{url_for('static', filename='images/default.jpg')}}"
                                                                    {% endif %}
                                                                    alt="{{comment.comment_user.username}}"></a></div>
                                                        <!-- react-empty: 2768 --></div></span><span
                                                            class="UserLink"><a class="UserLink-link"
                                                                                href="{{url_for('main.people', username=comment.comment_user.username)}}">{{comment.comment_user.username}}</a></span><span
                                                            class="CommentItem-time">{{comment.content_time}}</span>
                                                    </div>
                                                    <div class="RichText CommentItem-content"
                                                         style="white-space: initial;">
                                                        {{comment.content_body}}
                                                    </div>
                                                    <div class="CommentItem-footer ">

                                                    </div><!-- react-empty: 2795 --></div>
                                            </div>
                                            {% endfor %}
                                            <span></span></div>
                                        <div class="Comments-footer Comments-footer-withPagination CommentEditor--normal CommentEditor--active">
                                            <form action="" method="post" name="comment_form_{{activity[1].id}}">
                                                <div class="CommentEditor-input Input-wrapper Input-wrapper--spread Input-wrapper--large Input-wrapper--noPadding is-focus">
                                                    <div class="Input Editable Editable--focus">
                                                        <textarea rows="1"
                                                                  class="zg-editor-input zu-seamless-input-origin-element"
                                                                  name="comment_answer_{{activity[1].id}}"
                                                                  id="comment_answer_{{activity[1].id}}" required
                                                                  placeholder="写下你的评论"
                                                                  style="min-height: 30px;"></textarea>
                                                    </div>
                                                </div>
                                                <button onclick="submit_comment('{{activity[1].id}}')"
                                                        class="Button CommentEditor-singleButton Button--primary Button--blue"
                                                        type="button">评论
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% elif activity[-1] == "answer"%}
        <div class="feed-item folding feed-item-hook">
            <div class="feed-item-inner">
                <div class="avatar">
                    <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank">
                        <img {% if activity[0].avatar %}
                     src="data:;base64,{{ base64.b64encode(activity[0].avatar)}}"
                {% else %}
                src="{{url_for('static', filename='images/default.jpg')}}"
                {% endif %}

                             alt="" class="side-topic-avatar">
                    </a>
                </div>
                <div class="feed-main">
                    <div class="feed-source" data-za-module="FeedSource">
                        <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank"
                           class="zg-link author-link">{{activity[0].name}}</a> 回答了问题

                        <span class="zg-bull">•</span>
                        <span class="time" data-timestamp="1494777898000">{{activity[2]}}</span>

                    </div>
                    <div class="feed-content" data-za-module="AnswerItem">
                        <h5 class="feed-title"><a class="question_link"
                                                  href="{{url_for('main.question_detail', id=activity[1].question.id)}}"
                                                  target="_blank">
                            {{activity[1].question.question_name}}？
                        </a></h5>
                        {% if activity[1] %}
                        <div class="expandable entry-body">
                            <div class="zm-item-answer-author-info">

                            <span class="summary-wrapper">
                            <span class="author-link-line">
                                <a class="author-link" data-hovercard="p$t$tang-ge-71-52" target="_blank"
                                   href="{{url_for('main.people', username=activity[1].users.username)}}">{{activity[1].users.username}}</a>
                            </span>
                            <span class="bio">{{activity[1].short_intr}}</span>
                            </span>
                            </div>

                            <div class="zm-item-rich-text expandable js-collapse-body">

                                <div class="zh-summary summary clearfix">
                                    <ul class="wrap">
                                        <li>
                                            <div class="content all-content" style="display: none;">
                                                {{activity[1].answer_body}}

                                            </div>
                                            <div class="content part-content">
                                                {{activity[1].answer_body[:50]}}<b>...</b></div>
                                            <div class="sign unfold">显示全部</div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="feed-meta">
                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                <div class="zm-meta-panel">

                                    {% if not current_user.is_following_question(activity[1].question) %}
                                    <a id="follow_quesrion_{{activity[1].question.id}}_{{activity[1].users.id}}_{{activity[3]}}" href="#"
                                       onclick="follow_question('{{activity[1].question.id}}', id)"
                                       class="follow-link zg-follow meta-item"><i class="z-icon-follow"></i>关注问题</a>
                                    {% else %}
                                    <a id="follow_quesrion_{{activity[1].question.id}}_{{activity[1].users.id}}_{{activity[3]}}" href="#"
                                       onclick="unfollow_question('{{activity[1].question.id}}', id)"
                                       class="follow-link zg-unfollow meta-item"><i
                                            class="z-icon-follow"></i>取消关注</a>
                                    {% endif %}

                                    {% if activity[1] %}
                                    <button class="ContentItem-action Button--plain" type="button"
                                            id="comments-button-show_{{activity[1].id}}_{{activity[0].id}}"
                                            onclick="show_comments_answer(id, '{{activity[1].id}}', '{{activity[0].id}}')">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"
                                             class="Icon Icon--comment Icon--left" width="12" height="16"
                                             aria-hidden="true" style="height: 16px; width: 12px;">
                                            <title></title>
                                            <g>
                                                <path d="M7.24 16.313c-.272-.047-.553.026-.77.2-1.106.813-2.406 1.324-3.77 1.482-.16.017-.313-.06-.394-.197-.082-.136-.077-.308.012-.44.528-.656.906-1.42 1.11-2.237.04-.222-.046-.45-.226-.588C1.212 13.052.027 10.73 0 8.25 0 3.7 4.03 0 9 0s9 3.7 9 8.25-4.373 9.108-10.76 8.063z"></path>
                                            </g>
                                        </svg>
                                        {% if activity[1].comments.count() == 0 %}
                                        <!-- react-text: 703 --> 添加评论<!-- /react-text -->
                                        {% else %}
                                        <!-- react-text: 703 --> {{activity[1].comments.count()}}条评论
                                        <!-- /react-text -->
                                        {% endif %}
                                    </button>
                                    {% endif %}
                                </div>

                                {% if activity[1] %}
                                <div class="Comments-container" style="display: None;"
                                     id="Comments-container_{{activity[1].id}}_{{activity[0].id}}"><!-- react-empty: 2651 -->
                                    <div class="Comments Comments--withEditor Comments-withPagination">
                                        <div class="CommentTopbar">
                                            <div class="CommentTopbar-meta"><h2 class="CommentTopbar-title"
                                                                                id="CommentTopbar-title">
                                                <!-- react-text: 2656 -->{{activity[1].comments.count()}}
                                                <!-- /react-text -->
                                                <!-- react-text: 2657 --> 条评论<!-- /react-text --></h2>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comeents_list_all_{{activity[1].id}}_{{activity[0].id}}">
                                            {% for comment in activity[1].comments.filter_by().all() %}
                                            <div class="CommentItem">
                                                <div>
                                                    <div class="CommentItem-meta"><span
                                                            class="UserLink CommentItem-avatar"><div
                                                            class="Popover">
                                                            <div id="Popover-33049-66261-toggle">
                                                            <a
                                                                    class="UserLink-link"
                                                                    href="{{url_for('main.people', username=comment.comment_user.username)}}"><img
                                                                    class="Avatar UserLink-avatar"
                                                                    style="width: 25px;height: 25px;"
                                                                    {% if comment.comment_user.avatar %}
                                                                    src="data:;base64,{{ base64.b64encode(comment.comment_user.avatar)}}"
                                                                    {% else %}
                                                                    src="{{url_for('static', filename='images/default.jpg')}}"
                                                                    {% endif %}
                                                                    alt="{{comment.comment_user.username}}"></a></div>
                                                        <!-- react-empty: 2768 --></div></span><span
                                                            class="UserLink"><a class="UserLink-link"
                                                                                href="{{url_for('main.people', username=comment.comment_user.username)}}">{{comment.comment_user.username}}</a></span><span
                                                            class="CommentItem-time">{{comment.content_time}}</span>
                                                    </div>
                                                    <div class="RichText CommentItem-content"
                                                         style="white-space: initial;">
                                                        {{comment.content_body}}
                                                    </div>
                                                    <div class="CommentItem-footer ">

                                                    </div><!-- react-empty: 2795 --></div>
                                            </div>
                                            {% endfor %}
                                            <span></span></div>
                                        <div class="Comments-footer Comments-footer-withPagination CommentEditor--normal CommentEditor--active">
                                            <form action="" method="post" name="comment_form_{{activity[1].id}}_{{activity[0].id}}">
                                                <div class="CommentEditor-input Input-wrapper Input-wrapper--spread Input-wrapper--large Input-wrapper--noPadding is-focus">
                                                    <div class="Input Editable Editable--focus">
                                                        <textarea rows="1"
                                                                  class="zg-editor-input zu-seamless-input-origin-element"
                                                                  name="comment_answer_{{activity[1].id}}_{{activity[0].id}}"
                                                                  id="comment_answer_{{activity[1].id}}_{{activity[0].id}}" required
                                                                  placeholder="写下你的评论"
                                                                  style="min-height: 30px;"></textarea>
                                                    </div>
                                                </div>
                                                <button onclick="submit_comment_answer('{{activity[1].id}}', '{{activity[0].id}}')"
                                                        class="Button CommentEditor-singleButton Button--primary Button--blue"
                                                        type="button">评论
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% elif activity[-1] == "ask" %}
         <div class="feed-item folding feed-item-hook">
             <div class="feed-item-inner">
                 <div class="avatar">
                    <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank">
                        <img {% if activity[0].avatar %}
                     src="data:;base64,{{ base64.b64encode(activity[0].avatar)}}"
                {% else %}
                src="{{url_for('static', filename='images/default.jpg')}}"
                {% endif %}

                             alt="" class="side-topic-avatar">
                    </a>
                </div>
                 <div class="feed-main">
                     <div class="feed-source" data-za-module="FeedSource">
                        <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank"
                           class="zg-link author-link">{{activity[0].name}}</a> 提出了问题

                        <span class="zg-bull">•</span>
                        <span class="time" data-timestamp="1494777898000">{{activity[2]}}</span>

                    </div>
                     <div class="feed-content" data-za-module="AnswerItem">
                          <h5 class="feed-title"><a class="question_link"
                                                  href="{{url_for('main.question_detail', id=activity[1].id)}}"
                                                  target="_blank">
                            {{activity[1].question_name}}？
                        </a></h5>

                         <div class="feed-meta">
                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                <div class="zm-meta-panel">
                                     {% if not current_user.is_following_question(activity[1]) %}
                                    <a id="follow_quesrion_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="follow_question('{{activity[1].id}}', id)"
                                       class="follow-link zg-follow meta-item"><i class="z-icon-follow"></i>关注问题</a>
                                    {% else %}
                                    <a id="follow_quesrion_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="unfollow_question('{{activity[1].id}}', id)"
                                       class="follow-link zg-unfollow meta-item"><i
                                            class="z-icon-follow"></i>取消关注</a>
                                    {% endif %}
                                </div>
                            </div>
                         </div>
                     </div>

                 </div>


             </div>
         </div>

        {% elif activity[-1] == "follow_ques" %}
        <div class="feed-item folding feed-item-hook">
             <div class="feed-item-inner">
                 <div class="avatar">
                    <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank">
                        <img {% if activity[0].avatar %}
                     src="data:;base64,{{ base64.b64encode(activity[0].avatar)}}"
                {% else %}
                src="{{url_for('static', filename='images/default.jpg')}}"
                {% endif %}

                             alt="" class="side-topic-avatar">
                    </a>
                </div>
                 <div class="feed-main">
                     <div class="feed-source" data-za-module="FeedSource">
                        <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank"
                           class="zg-link author-link">{{activity[0].name}}</a> 关注了问题

                        <span class="zg-bull">•</span>
                        <span class="time" data-timestamp="1494777898000">{{activity[2]}}</span>

                    </div>
                     <div class="feed-content" data-za-module="AnswerItem">
                          <h5 class="feed-title"><a class="question_link"
                                                  href="{{url_for('main.question_detail', id=activity[1].id)}}"
                                                  target="_blank">
                            {{activity[1].question_name}}？
                        </a></h5>

                         <div class="feed-meta">
                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                <div class="zm-meta-panel">
                                     {% if not current_user.is_following_question(activity[1]) %}
                                    <a id="follow_quesrion_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="follow_question('{{activity[1].id}}', id)"
                                       class="follow-link zg-follow meta-item"><i class="z-icon-follow"></i>关注问题</a>
                                    {% else %}
                                    <a id="follow_quesrion_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="unfollow_question('{{activity[1].id}}', id)"
                                       class="follow-link zg-unfollow meta-item"><i
                                            class="z-icon-follow"></i>取消关注</a>
                                    {% endif %}
                                </div>
                            </div>
                         </div>
                     </div>

                 </div>


             </div>
         </div>

        {% elif activity[-1] == "follow_topic" %}
          <div class="feed-item folding feed-item-hook">
             <div class="feed-item-inner">
                 <div class="avatar">
                    <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank">
                        <img {% if activity[0].avatar %}
                     src="data:;base64,{{ base64.b64encode(activity[0].avatar)}}"
                {% else %}
                src="{{url_for('static', filename='images/default.jpg')}}"
                {% endif %}

                             alt="" class="side-topic-avatar">
                    </a>
                </div>
                 <div class="feed-main">
                     <div class="feed-source" data-za-module="FeedSource">
                        <a href="{{url_for('main.people', username=activity[0].username)}}" target="_blank"
                           class="zg-link author-link">{{activity[0].name}}</a> 关注了话题

                        <span class="zg-bull">•</span>
                        <span class="time" data-timestamp="1494777898000">{{activity[2]}}</span>

                    </div>
                     <div class="feed-content" data-za-module="AnswerItem">
                          <h5 class="feed-title"><a class="question_link"
                                                  href="{{url_for('main.topic_detail', id=activity[1].id)}}"
                                                  target="_blank">
                            {{activity[1].topic_name}}
                        </a></h5>

                         <div class="feed-meta">
                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                <div class="zm-meta-panel">
                                     {% if not current_user.is_following_topic(activity[1]) %}
                                    <a id="follow_topic_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="follow_topic('{{activity[1].id}}', id)"
                                       class="follow-link zg-follow meta-item"><i class="z-icon-follow"></i>关注话题</a>
                                    {% else %}
                                    <a id="follow_quesrion_{{activity[1].id}}_{{activity[0].id}}_{{activity[3]}}" href="#"
                                       onclick="unfollow_topic('{{activity[1].id}}', id)"
                                       class="follow-link zg-unfollow meta-item"><i
                                            class="z-icon-follow"></i>取消关注</a>
                                    {% endif %}
                                </div>
                            </div>
                         </div>
                     </div>

                 </div>


             </div>
         </div>

        {% endif %}

        {% endfor %}

    </div>
</div>
<!--{% for topic in topic_all %}-->
<!--{% for question in topic.question_topic %}-->
<!--话题：{{topic.topic_name}}<br>-->
<!--问题:{{question.question.question_name}}<br>-->
<!--{% endfor %}-->
<!--{% endfor %}-->
{% endblock %}

<!--定义侧边栏-->
{% block page_sidebar %}
<div class="zu-main-sidebar" data-za-module="RightSideBar">
    <div class="zm-side-section">
        <div class="zm-side-section-inner">
            <div class="zm-side-nav-group">
                <ul class="zm-side-nav" id="zg-sidebar-nav">

                    <li class="zm-side-nav-li">
                        <a class="zm-side-nav-link" href="{{url_for('main.question_follow_all')}}">
                            <i class="zg-icon zg-icon-sidenav-follow"></i>
                            我关注的问题
                        </a>
                    </li>

            </div>
            <!--<div class="zm-side-nav-group">-->
                <!--<ul class="zm-side-nav">-->


                    <!--<li class="zm-side-nav-li rq3-publiceditlink" id="rq3-sidenav-link">-->
                        <!--<a class="zm-side-nav-link" href="/watch">-->
                            <!--<i class="zg-icon zg-icon-sidenav-publicedit"></i>-->
                            <!--公共编辑动态-->
                            <!--<span class="zg-num hidden">0</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li class="zm-side-nav-li">-->
                        <!--<a class="zm-side-nav-link z-ico-container" href="/community">-->
                            <!--<i class="z-ico-community"></i>-->
                            <!--社区服务中心-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li class="zm-side-nav-li">-->
                        <!--<a class="zm-side-nav-link z-ico-container" href="/copyright">-->
                            <!--<i class="zg-icon icon icon-copyright"></i>-->
                            <!--版权服务中心-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>
{% endblock %}